<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>Fazer Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <div class="spinner-center" *ngIf="showLoading">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
            
    <div *ngIf="errorConnection" text-wrap>
        <p style="text-align: center">
            <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
        </p>
                
        <p style="text-align: center;">
            <span class="spam-error-connection">{{ errorConnection }}</span>
        </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submeterLogin()">

        <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input formControlName="email" type="email" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <div *ngIf="(!loginForm.get('email').valid && loginForm.get('email').touched) && !loginForm.get('email').hasError('pattern')" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="loginForm.get('email').hasError('pattern')" [ngClass]="'class-error-form'">e-mail inválido</div>

        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input formControlName="senha" id="senha" type="text" *ngIf="showPwd"></ion-input>
            <ion-input formControlName="senha" id="senha" type="password" *ngIf="!showPwd"></ion-input>
            <button icon-only ion-button clear type="button" item-right color="dark" (click)="showPwd=!showPwd">
                <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
                <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
        </ion-item>
        <div *ngIf="!loginForm.get('senha').valid && loginForm.get('senha').touched" [ngClass]="'class-error-form'">campo obrigatório</div>

        <div padding style="text-align: center;">
            <button ion-button block outline type="submit" color="navBarColor">ENTRAR</button>
        </div>
    </form>

    <div class="forgot-pass-style-div">
        <a (click)="openRecuperarSenhaPage()" class="botao01">Esqueci minha senha</a>
    </div>

</ion-content>
