<ion-header no-border>
    <ion-navbar color="navBarColor">
      <ion-title><span class="font-title">Cartão de crédito</span></ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>

    <div padding style="text-align: center;">
        <img src="assets/imgs/amex.png" style="width: 13%;"/>
        <img src="assets/imgs/master.png" style="width: 13%;"/>
        <img src="assets/imgs/visa.png" style="width: 13%;"/>
        <img src="assets/imgs/diners.png" style="width: 13%;"/>
        <img src="assets/imgs/hipercard.png" style="width: 13%;"/>
        <img src="assets/imgs/elo.png" style="width: 13%;"/>

    </div>

    <form [formGroup]="cartaoForm" (ngSubmit)="submeterCartao()">
      <ion-item>
        <ion-label floating>Número do cartão</ion-label>
        <ion-input formControlName="numeroCartao" [(ngModel)]="cartaoCreditoEntity.numeroCartao" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
      <div *ngIf="!cartaoForm.get('numeroCartao').valid && cartaoForm.get('numeroCartao').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <!-- <div *ngIf="dadosUsuarioForm.get('nomePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div> -->
        
      <ion-row>
        <ion-col col-7>
          <ion-item>
            <ion-label floating>Validade</ion-label>
            <ion-input formControlName="validade" [(ngModel)]="cartaoCreditoEntity.validade" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-5>
          <ion-item class="padding-left-2px">
            <ion-label floating>CVV</ion-label>
            <ion-input formControlName="cvv" [(ngModel)]="cartaoCreditoEntity.cvv" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
            
      <ion-item>
        <ion-label floating>Nome do titular</ion-label>
        <ion-input formControlName="nomeTitular" [(ngModel)]="cartaoCreditoEntity.nomeTitular" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
      <div *ngIf="!cartaoForm.get('nomeTitular').valid && cartaoForm.get('nomeTitular').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        
      <ion-item>
          <ion-label floating>CPF</ion-label>
          <ion-input formControlName="cpfTitular" [(ngModel)]="cartaoCreditoEntity.cpfTitular" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
      <div *ngIf="!cartaoForm.get('cpfTitular').valid && cartaoForm.get('cpfTitular').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
      
      <ion-item>
          <ion-label floating>Data nascimento</ion-label>
          <ion-input formControlName="datanascimento" [(ngModel)]="cartaoCreditoEntity.datanascimento" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
      <div *ngIf="!cartaoForm.get('datanascimento').valid && cartaoForm.get('datanascimento').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
      
      <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input formControlName="telefone" [(ngModel)]="cartaoCreditoEntity.telefone" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
      <div *ngIf="!cartaoForm.get('telefone').valid && cartaoForm.get('telefone').touched" [ngClass]="'class-error-form'">campo obrigatório</div>

      <div padding>
          <button ion-button block outline type="submit" color="navBarColor">SALVAR</button>
        </div>
    </form>

</ion-content>
