page-home {
    // ISSO CONFIGURA A ALTURA E LARGURA CERTA DA IMAGEM DA PUBLICIDADE
    .swiper-container {
        width: 100%;
        height: 100%;
        // height: auto;
    }
    .ion-slide-margin {
        margin-top: -50px;
    }
    //**********************

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #000000;
        opacity: 1;
    }

    .segment-md .segment-button {
        color: #000000;
    }
}
