<ion-header no-border>

  <ion-navbar transparent>
    <ion-title><span class="font-title">Dados cadastrais</span></ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
            
    <div *ngIf="errorConnection" text-wrap>
        <p style="text-align: center">
            <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
        </p>
        
        <p style="text-align: center;">
            <span class="spam-error-connection">{{ errorConnection }}</span>
        </p>
    </div>

    <!-- <div *ngIf="dadosCidades.cidade" > -->
    <div>
        <!-- <form [formGroup]="dadosUsuarioForm" (ngSubmit)="submeterDadosUsuario()"> -->
        <form [formGroup]="dadosUsuarioForm">

            <ion-item>
                <ion-label floating>Nome</ion-label>
                <ion-input formControlName="nomePessoa" [(ngModel)]="usuarioDetalheEntity.nomePessoa" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('nomePessoa').valid && dadosUsuarioForm.get('nomePessoa').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
            <div *ngIf="dadosUsuarioForm.get('nomePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>
            
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input formControlName="emailUsuario" [(ngModel)]="usuarioDetalheEntity.emailUsuario" type="email" [readonly]="isReadOnly"></ion-input>
            </ion-item>
            <div *ngIf="(!dadosUsuarioForm.get('emailUsuario').valid && dadosUsuarioForm.get('emailUsuario').touched) && !dadosUsuarioForm.get('emailUsuario').hasError('pattern')" [ngClass]="'class-error-form'">campo obrigatório</div>
            <div *ngIf="dadosUsuarioForm.get('emailUsuario').hasError('pattern')" [ngClass]="'class-error-form'">e-mail inválido</div>
            
            <ion-item>
                <ion-label floating>CPF</ion-label>
                <ion-input formControlName="cpfPessoa" [(ngModel)]="usuarioDetalheEntity.cpfPessoa" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('cpfPessoa').valid && dadosUsuarioForm.get('cpfPessoa').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
            <div *ngIf="dadosUsuarioForm.get('cpfPessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>
          
            <ion-item (click)="selecionaDataNasc()">
                <ion-label floating>Data de nascimento</ion-label>
                <ion-datetime formControlName="dataNascimento" displayFormat="DD/MM/YYYY" name="dataNascimento" min="1919" max="2099" [(ngModel)]="dataNascimento"></ion-datetime>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('dataNascimento').valid && dadosUsuarioForm.get('dataNascimento').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
                
            <ion-item>
                <ion-label floating>Telefone</ion-label>
                <ion-input formControlName="telefonePessoa" [(ngModel)]="telefonePessoa" type="text" (keyup)="getCampoTelefone(telefonePessoa)" maxlength="15"></ion-input>
            </ion-item>
            <div *ngIf="dadosUsuarioForm.get('telefonePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 50 caracteres</div>

            <ion-item>
                <ion-label floating>Seu cep</ion-label>
                <ion-input formControlName="cep" [(ngModel)]="usuarioDetalheEntity.cep" maxLength="10"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('cep').valid && dadosUsuarioForm.get('cep').touched" [ngClass]="'class-error-form'" maxlength="10">campo obrigatório</div>
            <button ion-button clear (click)="buscaEnderecoPorCep(usuarioDetalheEntity.cep)">Buscar por cep</button>
                
            <ion-item>
                <ion-label floating>Rua</ion-label>
                <ion-input formControlName="endereco" [(ngModel)]="usuarioDetalheEntity.endereco" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('endereco').valid && dadosUsuarioForm.get('endereco').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
            <div *ngIf="dadosUsuarioForm.get('endereco').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>
            
            <ion-item>
                <ion-label floating>Número</ion-label>
                <ion-input formControlName="numeroLogradouro" [(ngModel)]="usuarioDetalheEntity.numeroLogradouro" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('numeroLogradouro').valid && dadosUsuarioForm.get('numeroLogradouro').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
            <div *ngIf="dadosUsuarioForm.get('numeroLogradouro').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>
            
            <ion-item>
                <ion-label floating>Complemento</ion-label>
                <ion-input formControlName="complemento" [(ngModel)]="usuarioDetalheEntity.complemento" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="dadosUsuarioForm.get('complemento').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>
            
            <ion-item>
                <ion-label floating>Bairro</ion-label>
                <ion-input formControlName="bairro" [(ngModel)]="usuarioDetalheEntity.bairro" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('bairro').valid && dadosUsuarioForm.get('bairro').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
            <div *ngIf="dadosUsuarioForm.get('bairro').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>
            
            <ion-list>
                <ion-item>
                    <ion-label class="my-label">Estado</ion-label>
                    <ion-select formControlName="idEstado" [(ngModel)]="usuarioDetalheEntity.idEstado" class="cidade-span-style" (ionChange)="getIdEstado($event)" cancelText="Cancelar">
                        <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                    </ion-select>
                </ion-item>
                <!-- <div *ngIf="!dadosUsuarioForm.get('idEstado').valid && dadosUsuarioForm.get('idEstado').touched" [ngClass]="'class-error-form'">campo obrigatório</div> -->
            </ion-list>
    
            <ion-list>
                <ion-item>

                    <div [ngClass]="{'disableDiv': !idEstado}">
                        <p (click)="showModalCidades()" class="my-label">
                            <span class="my-label label label-md" [ngClass]="{'cidade-label-style-disable': !idEstado, 'cidade-label-style-enable': idEstado}">Cidade </span>
                            <span class="cidade-span-style"> {{ dadosCidades.cidade }}
                        <ion-icon name="arrow-dropdown" [ngClass]="{'cidade-dropdown-icon-cidade-disable': !idEstado, 'cidade-dropdown-icon-cidade-enable': idEstado}"></ion-icon>
                    </span>
                        </p>
                    </div>

                </ion-item>
                <!-- <div *ngIf="dadosUsuarioForm.valid && dadosUsuarioForm.get('idCidade').touched && idCidade == undefined" [ngClass]="'class-error-form'">campo obrigatório</div> -->
            </ion-list>

            <div *ngIf="!idUsuario">

                <ion-item>
                    <ion-label floating>Senha</ion-label>
                    <ion-input formControlName="senhaUsuario" id="senhaUsuario" [(ngModel)]="usuarioDetalheEntity.senhaUsuario" type="password"></ion-input>
                </ion-item>
                <div *ngIf="!dadosUsuarioForm.get('senhaUsuario').valid && dadosUsuarioForm.get('senhaUsuario').touched" [ngClass]="'class-error-form'">campo obrigatório</div>

                <ion-item>
                    <ion-label floating>Confirmar senha</ion-label>
                    <ion-input type="password" id="confirmSenha" formControlName="confirmSenha" [(ngModel)]="usuarioDetalheEntity.confirmSenha"></ion-input>
                </ion-item>
                <div [ngClass]="'class-error-form'" *ngIf="(!dadosUsuarioForm.get('confirmSenha').valid && dadosUsuarioForm.get('confirmSenha').touched) && dadosUsuarioForm.controls.confirmSenha.errors?.MatchPassword">as senhas não conferem</div>
            </div>

            <div padding>
                <button ion-button block outline type="submit" color="navBarColor" (click)="submeterDadosUsuario()">SALVAR</button>
            </div>
        </form>
    </div>
</ion-content>
