<ion-header no-border>
  <ion-navbar color="navBarColor">
    <ion-title><span class="font-title">Ingressos para revenda</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-stable">
  <!-- <div style="text-align:center">
    <span>Encontre aqui ingressos com lotes já fechados</span>
  </div> -->

  <div class="spinner-center" *ngIf="showLoading">
      <ion-spinner name="crescent"></ion-spinner>
  </div>
  
  <!-- <div *ngIf="errorConnection && !showLoading" text-wrap> -->
  <div *ngIf="errorConnection" text-wrap>
      <p style="text-align: center">
          <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
      </p>
      
      <p style="text-align: center;">
          <span class="spam-error-connection">{{ errorConnection }}</span>
      </p>
  </div>

  <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" 
    *ngIf="(!errorConnection && anuncioList?.length == 0)">
      <div style="text-align: center;color: #484848;"><strong>Não encontramos nenhum registro</strong></div>
      <div style="text-align: center;">
          <ion-icon style="font-size: 30px;color: #484848;" ios="md-sad" md="md-sad"></ion-icon>
      </div>
  </div>

  <ion-card *ngFor="let anuncio of anuncioList">
    <ion-card-content>
      <ion-card-title>
        <span style="font-size: 16px;">{{ anuncio.nomeEvento }}</span>
      </ion-card-title>
      <p>
        <span>{{ anuncio.cidadeEstadoFormat }}</span><span style="float: right;">{{ anuncio.dataEventoFormat }}</span>
      </p>
    </ion-card-content>
    <img [src]="sanitizer.bypassSecurityTrustUrl(anuncio.imagemEvento)"  />

    <ion-row>
        <ion-col>
          <button ion-button icon-start clear small color="blueColor" style="float: left;" (click)="openDetalheEventoPage(anuncio.idEvento, 'DETALHE');">
            <ion-icon name="qr-scanner"></ion-icon>
            <div>VER DETALHES</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small color="greenColor" style="float: right;" (click)="openDetalheEventoPage(anuncio.idEvento, 'REVENDA');">
            <ion-icon name="sync"></ion-icon>
            <div>REVENDA</div>
          </button>
        </ion-col>
      </ion-row>

  </ion-card>

</ion-content>
