<ion-header no-border>
  <!-- <ion-navbar color="navBarColor"> -->
  <ion-navbar transparent>
    <ion-title><span class="font-title">Ingressos para revenda</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-stable">
  <!-- <div style="text-align:center">
    <span>Encontre aqui ingressos com lotes já fechados</span>
  </div> -->

  <div class="spinner-center" *ngIf="showLoading">
      <ion-spinner name="crescent"></ion-spinner>
  </div>
  
  <!-- <div *ngIf="errorConnection && !showLoading" text-wrap> -->
  <div *ngIf="errorConnection" text-wrap>
      <p style="text-align: center">
          <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
      </p>
      
      <p style="text-align: center;">
          <span class="spam-error-connection">{{ errorConnection }}</span>
      </p>
  </div>

  <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" 
    *ngIf="(!errorConnection && anuncioList?.length == 0)">
      <div style="text-align: center;color: #484848;"><strong>Não encontramos nenhum registro</strong></div>
      <div style="text-align: center;">
          <ion-icon style="font-size: 30px;color: #484848;" ios="md-sad" md="md-sad"></ion-icon>
      </div>
  </div>

  <ion-card *ngFor="let anuncio of anuncioList" (click)="openDetalheEventoPage(anuncio.idEvento, 'ANUNCIOLIST');">
    <ion-card-content style="padding: 3px 16px;">
      <ion-card-title>
        <span style="font-size: 16px;">{{ anuncio.nomeEvento }}</span>
      </ion-card-title>
      <p>
        <span>{{ anuncio.cidadeEstadoFormat }}</span><span style="float: right;">{{ anuncio.dataEventoFormat }}</span>
      </p>
    </ion-card-content>
    <img [src]="sanitizer.bypassSecurityTrustUrl(anuncio.imagemEvento)"  />
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
