<ion-header>

    <ion-navbar color="navBarColor">
        <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title>
            <span class="font-title">Meus favoritos</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">

    <div class="spinner-center" *ngIf="showLoading">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
    
    <div *ngIf="errorConnection" text-wrap>
        <p style="text-align: center">
            <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
        </p>
        
        <p style="text-align: center;">
            <span class="spam-error-connection">{{ errorConnection }}</span>
        </p>
    </div>

    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" 
        *ngIf="!idUsuario">
        <div style="text-align: center;color: #484848;"><strong>Faça login para ver seus favoritos</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="md-sad" md="md-sad"></ion-icon>
        </div>
    </div>
    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" 
        *ngIf="(!errorConnection && favoritosList?.length == 0) && idUsuario">
        <div style="text-align: center;color: #484848;"><strong>Você não possui nenhum favorito</strong></div>
        <div style="text-align: center;">
            <ion-icon style="font-size: 30px;color: #484848;" ios="md-sad" md="md-sad"></ion-icon>
        </div>
    </div>

    <ion-card (click)="openDetalheEventoPage(favorito.idEvento)" *ngFor="let favorito of favoritosList">
        <ion-card-content style="padding: 3px 16px;">
            <ion-card-title style="line-height: 0.8;">
            <span style="font-size: 16px; font-weight: 500;">{{ favorito.nomeEvento }}</span>
            </ion-card-title>
            <p>
            <span>{{ favorito.cidadeEstadoFormat }}</span><span style="float: right;">{{ favorito.dataEventoFormat }}</span>
            </p>
        </ion-card-content>
        <img [src]="sanitizer.bypassSecurityTrustUrl(favorito.imagemEvento)"  />
    
        <div style="height: 35px; opacity: 0.7; background: #000; margin-top: -35px; text-align: left;">
            <button ion-button icon-end color="light" (click)="confirmaRemover(favorito.idFavoritoEventoUsuario);$event.stopPropagation();"
                style="height: 2.6rem; color: red; margin-right: 10px; float: right;" >
                <span style="font-size: 14px; color: red;">
                REMOVER
                </span>
                <ion-icon name="trash"></ion-icon>
            </button>
        </div>
    </ion-card>

</ion-content>