<ion-header no-border>
    <ion-navbar color="navBarColor">
      <ion-title></ion-title>
      <ion-buttons end *ngIf="eventoDetalheEntity.nomeEvento">
        <button ion-button icon-only (click)="adicionaRemoveFavoritoDetalhes(eventoDetalheEntity.idEvento, eventoDetalheEntity.idFavoritoEventoUsuario)">
            <ion-icon ios="ios-heart" md="md-heart"
            [ngClass]="{false:'corBranca', true:'corVermelha'}[showIcon]">
            </ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content>

    <div class="spinner-center" *ngIf="!eventoDetalheEntity.nomeEvento && !errorConnection">
        <ion-spinner name="dots"></ion-spinner>
      </div>

      <div *ngIf="errorConnection" text-wrap>
        <p style="text-align: center">
            <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
        </p>
        
        <p style="text-align: center;">
            <span class="spam-error-connection">{{ errorConnection }}</span>
        </p>
      </div>

  <div *ngIf="eventoDetalheEntity.nomeEvento" >

    <ion-card>
      <!-- <img src="assets/imgs/nin-live.png"/> -->
      <img [src]="sanitizer.bypassSecurityTrustUrl(eventoDetalheEntity.imagemEvento)"  />
    </ion-card>

    <div style="padding-left: 16px;">
      <span style="font-size: 16px; font-weight: 500;">{{ eventoDetalheEntity.nomeEvento }}</span>
    </div>

    <div style="padding-left: 16px; display:flex;">
      <div style="float: left; position: relative;">
        <span style="float: left; text-align: left">
          <p>
            <ion-icon ios="ios-calendar" md="ios-calendar" style="font-size: 25px; margin-right: 10px;"></ion-icon>
          </p>
        </span>
      </div>
      <div style="float: left; position: relative;">
        <span style="float: left; text-align: left">
          <p>
            {{ eventoDetalheEntity.dataEventoFormat }}<br>
            {{ eventoDetalheEntity.enderecoFormat }}
          </p>
        </span>
      </div>
    </div>

    <ion-item-divider color="navBarColor" style="margin-top: 0px;">
        <span style="color: #fff;">Ingressos</span>
        <div item-content>
            <span style="margin-right: 10px;"> R$ 0,00 </span>
        </div>
    </ion-item-divider>

    <ion-list>
      <ion-item text-wrap *ngFor="let ingresso of listLoteIngressoListEntity">
          
        <div id="flex-container">
            <div class="flex-item" id="flex">
              <span style="font-size: 12px; font-weight: 500;">{{ ingresso.nomeLote }}</span>
              <p><span style="color: #0c60ee; font-size: 12px;"> {{ ingresso.valorETaxaFormat }}</span></p>
              <p>
                <span style="color: #999; font-size: 13px;"> {{ ingresso.vendaAteFormat }}</span>
              </p>
              <img src="assets/imgs/qrcode.png" *ngIf="lastViewDetalhe == 'DETALHE'" 
                style="float: right; margin-top: -40px; width: 40px; height: auto;" (click)="openModalQrcode()">
              
            </div>

            <div class="raw-item" id="raw" style="text-align: right; width: 10rem;" *ngIf="lastViewDetalhe == undefined">
                <ion-icon name="remove-circle" (click)="subtrairIngresso(ingresso)"></ion-icon>
                <span *ngIf="ingresso.qtdIngresso > 0">{{ ingresso.qtdIngresso }}</span>
                <span *ngIf="!ingresso.qtdIngresso" >0</span>
                <ion-icon name="add-circle" (click)="incrementaIngresso(ingresso)"></ion-icon>
            </div>

            <div class="raw-item" id="raw" style="text-align: right; width: 1rem; height: 30px;" *ngIf="lastViewDetalhe == 'DETALHE'">
              0
            </div>
            <!-- <div class="raw-item" id="raw" style="text-align: right; width: 10rem;" *ngIf="lastViewDetalhe == 'REVENDA'">
              <button ion-button icon-only item-end clear round (click)="subtrairProduto();" 
                style="width: 10px; height: 20px;">
                REVENDER
              </button>
            </div> -->

          </div>

      </ion-item>

    </ion-list>

    <div padding>
        <button ion-button block outline type="submit" color="greenColor" *ngIf="lastViewDetalhe == undefined">COMPRAR INGRESSOS</button>
        <button ion-button block outline type="submit" color="greenColor" *ngIf="lastViewDetalhe == 'REVENDA'">REVENDER SELECIONADOS</button>
    </div>

    <div padding class="content-stable">
      <p>
        DESCRIÇÃO DO EVENTO
      </p>
      <p>
        {{ eventoDetalheEntity.descricaoEvento }}
      </p>

    </div>
    
    <div padding>
      <p>
        SOBRE O PRODUTOR
      </p>
      <p>
        {{ eventoDetalheEntity.descricaoOrganizador }}
      </p>
    </div>

  </div>

</ion-content>
