<ion-header no-border>
    <!-- <ion-navbar color="navBarColor"> -->
    <ion-navbar transparent>
      <ion-title></ion-title>
      <ion-buttons end *ngIf="eventoDetalheEntity.nomeEvento && idUsuarioLogado">
        <button ion-button icon-only (click)="adicionaRemoveFavoritoDetalhes(eventoDetalheEntity.idEvento, eventoDetalheEntity.idFavoritoEventoUsuario)">
            <ion-icon ios="md-heart" md="md-heart" *ngIf="showIcon" 
            [ngClass]="{true:'corVermelha'}[showIcon]">
            </ion-icon>
            <ion-icon ios="md-heart-outline" md="md-heart-outline" *ngIf="!showIcon" 
            [ngClass]="{false:'corCinza'}[!showIcon]">
            </ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content>

      <div class="spinner-center" *ngIf="showLoading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <div *ngIf="errorConnection" text-wrap>
        <p style="text-align: center">
            <ion-icon ios="md-link" md="md-link" item-start color="navBarColor" style="font-size: 50px;"></ion-icon>
        </p>
        
        <p style="text-align: center;">
            <span class="spam-error-connection">{{ errorConnection }}</span>
        </p>
      </div>

  <!-- <div *ngIf="eventoDetalheEntity.nomeEvento"> -->
  <div *ngIf="listIngressoListEntity?.length > 0">

    <ion-card>
      <img [src]="sanitizer.bypassSecurityTrustUrl(eventoDetalheEntity.imagemEvento)"  />
    </ion-card>

    <div style="padding-left: 16px;">
      <span style="font-size: 16px; font-weight: 500;">{{ eventoDetalheEntity.nomeEvento }}</span>
    </div>

    <div style="padding-left: 16px; display:flex;">
      <div style="float: left; position: relative;">
        <span style="float: left; text-align: left">
          <p>
            <ion-icon ios="ios-calendar" md="ios-calendar" style="font-size: 25px; margin-right: 10px;"></ion-icon>
          </p>
        </span>
      </div>
      <div style="float: left; position: relative;">
        <span style="float: left; text-align: left">
          <p>
            {{ eventoDetalheEntity.dataEventoFormat }}<br>
            {{ eventoDetalheEntity.enderecoFormat }}
          </p>
        </span>
      </div>
    </div>

    <ion-item-divider color="navBarColor" style="margin-top: 0px;">
        <span style="color: #fff;" *ngIf="lastButtonDetalhe != 'REVENDA'">Ingressos</span>
        <span style="color: #fff;" *ngIf="lastButtonDetalhe == 'REVENDA'">Seus lotes</span>
        <div item-content *ngIf="lastButtonDetalhe == 'HOME'">
            <span style="margin-right: 10px;" *ngIf="!valorTotalIngressoFormat" > R$ 0,00 </span>
            <span style="margin-right: 10px;" *ngIf="valorTotalIngressoFormat" > R$ {{ valorTotalIngressoFormat }} </span>
        </div>
    </ion-item-divider>

    <ion-list>

      <!-- REVENDA -->
      <div *ngIf="lastButtonDetalhe == 'REVENDA'">
        <ion-item text-wrap *ngFor="let ingresso of listIngressoListEntity; let i = index;">

            <ion-label color="dark" stacked>
                <h4 style="font-size: 12px; font-weight: 500; color: #1B7700;" *ngIf="ingresso.statusIngressoEnum == 'REVENDA'">
                  <ion-icon ios="md-sync" md="md-sync"></ion-icon>
                  <strong>{{ ingresso.statusIngressoFormat }}</strong>
                </h4>
                <h4 style="font-size: 12px; font-weight: 500;">
                  <strong>{{ ingresso.nomeLoteIngresso }}</strong>
                </h4>
                <h4 style="color: #0c60ee; font-size: 12px;">
                  <strong>Comprado por: {{ ingresso.valorETaxaFormat }}</strong>
                </h4>
                <h4 style="color: #1B7700; font-size: 12px;" *ngIf="ingresso.statusIngressoEnum == 'REVENDA'">
                  <strong>Revendido por: {{ ingresso.valorAnuncioETaxaFormat }}</strong>
                </h4>
                <h4 style="color: #999; font-size: 13px;">
                  <strong>{{ ingresso.vendaAteFormat }}</strong>
                </h4>
                <h4></h4>
                <h4 style="color: #1B7700; font-size: 13px;" *ngIf="ingresso.statusIngressoEnum != 'REVENDA'">
                    <strong>Revender por:</strong>
                </h4>
            </ion-label>

            <ion-input id="valorRevenda" type="number" placeholder="Informe o valor da revenda" [(ngModel)]="ingresso.valorAnuncio"
              type="text" [brmasker]="{money: true, thousand: '.'}" *ngIf="ingresso.statusIngressoEnum == 'DISPONIVEL'" 
              (keyup)="getValorAnuncio($event.target.value, ingresso.idIngresso)" 
              spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off">
            </ion-input>
            <!-- <ion-input id="valorRevenda" type="text" placeholder="Informe o valor da revenda" [(ngModel)]="ingresso.valorAnuncio"
              type="text" (keyup)="getValorAnuncio($event.target.value, ingresso.idIngresso)" 
              *ngIf="ingresso.statusIngressoEnum == 'DISPONIVEL'" 
              spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off">
            </ion-input> -->

            <ion-checkbox item-right color="dark" [checked]="ingresso.itemChecked" 
              (ionChange)="addCheckbox($event, ingresso.idIngresso, ingresso.statusIngressoEnum)" 
              *ngIf="ingresso.statusIngressoEnum == 'DISPONIVEL'"></ion-checkbox>

              <ion-icon item-right name="trash" color="danger" (click)="removerLoteRevendaConfirm(ingresso.idAnuncio)"
                *ngIf="ingresso.statusIngressoEnum == 'REVENDA'"></ion-icon>
        </ion-item>
      </div>
      <!-- FIM REVENDA -->

      <!-- ANUNCIOLIST -->
      <div *ngIf="lastButtonDetalhe == 'ANUNCIOLIST'">
        <ion-item text-wrap *ngFor="let ingresso of listIngressoListEntity; let i = index;">

            <ion-label color="dark" stacked>
                <h4 style="font-size: 12px; font-weight: 500;">
                  <strong>{{ ingresso.nomeLoteIngresso }}</strong>
                </h4>
                <p><span style="color: #0c60ee; font-size: 12px;"> {{ ingresso.valorETaxaFormat }}</span></p>
                <h4 style="color: #999; font-size: 13px;">
                  <strong>{{ ingresso.vendaAteFormat }}</strong>
                </h4>
                <h4></h4>
            </ion-label>

            <ion-checkbox item-right color="dark" [checked]="ingresso.itemChecked" 
              (ionChange)="addCheckbox($event, ingresso.idIngresso, ingresso.statusIngressoEnum)"></ion-checkbox>

        </ion-item>
      </div>
      <!-- FIM ANUNCIOLIST -->

      <div *ngIf="lastButtonDetalhe != 'REVENDA' && lastButtonDetalhe != 'ANUNCIOLIST'">
        <ion-item text-wrap *ngFor="let ingresso of listIngressoListEntity">
          <div id="flex-container">
              <div class="flex-item" id="flex">
                <span style="font-size: 12px; font-weight: 500;">{{ ingresso.nomeLoteIngresso }}</span>
                <p><span style="color: #0c60ee; font-size: 12px;"> {{ ingresso.valorETaxaFormat }}</span></p>
                <p>
                  <span style="color: #999; font-size: 13px;"> {{ ingresso.vendaAteFormat }}</span>
                </p>
                <p *ngIf="lastButtonDetalhe == 'DETALHE' && ingresso.statusIngressoEnum == 'ANDAMENTO' || ingresso.statusIngressoEnum == 'ANDAMENTO_REVENDA'" >
                  <span class="style-status-andamento"> {{ ingresso.statusIngressoFormat }}</span>
                </p>
                <img src="assets/imgs/alert-icon.png" *ngIf="lastButtonDetalhe == 'DETALHE' && ingresso.statusIngressoEnum == 'ANDAMENTO' || ingresso.statusIngressoEnum == 'ANDAMENTO_REVENDA'" 
                  class="style-icon-status-andamento">

                <img src="assets/imgs/qrcode.png" *ngIf="lastButtonDetalhe == 'DETALHE' && ingresso.statusIngressoEnum == 'DISPONIVEL'" 
                  class="style-status-disponivel" (click)="openModalQrcode(ingresso.tokenIngresso)">
              </div>
  
              <div class="raw-item" id="raw" style="text-align: right; width: 10rem;" 
                *ngIf="lastButtonDetalhe == 'HOME' || lastButtonDetalhe == 'FAVORITOLIST'">
                  <ion-icon name="remove-circle" (click)="subtrairIngresso(ingresso)"></ion-icon>
                  <span *ngIf="ingresso.qtdIngresso > 0">{{ ingresso.qtdIngresso }}</span>
                  <span *ngIf="!ingresso.qtdIngresso" >0</span>
                  <ion-icon name="add-circle" (click)="incrementaIngresso(ingresso)"></ion-icon>
              </div>
            </div>
        </ion-item>
      </div>

    </ion-list>

    <div padding>
        <button ion-button block outline type="submit" color="greenColor" (click)="openPagamentoPage()"
          *ngIf="lastButtonDetalhe == 'HOME' || 
                  lastButtonDetalhe == 'ANUNCIOLIST' || 
                  lastButtonDetalhe == 'FAVORITOLIST'" [disabled]="!habilitaBotao">IR PARA PAGAMENTO</button>

        <button ion-button block outline type="submit" color="greenColor" 
          *ngIf="lastButtonDetalhe == 'REVENDA'" [disabled]="!habilitaBotao" (click)="adicionaIngressoRevenda()">REVENDER SELECIONADOS
        </button>
    </div>

    <div padding class="content-stable">
      <p style="font-weight: 500;">
        DESCRIÇÃO DO EVENTO
      </p>
      <p style="font-size: 13px;">
        {{ eventoDetalheEntity.descricaoEvento }}
      </p>

    </div>
    
    <div padding>
      <p style="font-weight: 500;">
        SOBRE O PRODUTOR
      </p>
      <p style="font-size: 13px;">
        {{ eventoDetalheEntity.descricaoOrganizador }}
      </p>
    </div>

  </div>

</ion-content>
